<ion-header>

  <ion-navbar>
    <ion-title>Trainingenbeheer</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-fab bottom right>
    <button ion-fab (click)="createTraining()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-list-header>
      <span>Datum</span>
    </ion-list-header>
    <button ion-item *ngFor="let training of trainings | orderBy:'-TrainingDate'" (click)="loadTraining($event, training)" (press)="promptDelete(training)">
      <span>{{training.TrainingDate | date:'dd-MM-yyyy'}} &nbsp;</span>
      <ion-badge *ngIf="training.IsBonus">extra</ion-badge>
      <span item-right>{{training.NumAttendees}}</span>
    </button>
  </ion-list>
</ion-content>
