<ion-content>
  <ion-segment [(ngModel)]="homeAway" color="primary">
    <ion-segment-button value="H">{{soccerMatch.HomeTeam.Name}}</ion-segment-button>
    <ion-segment-button value="A">{{soccerMatch.AwayTeam.Name}}</ion-segment-button>
  </ion-segment>
  <div *ngIf="soccerMatch !== null && homeAway === 'H'">
    <div>
      <ion-item>
        <span item-start>Selectie ({{lineups.HomeTeam.Players.length}})</span>
        <button ion-button clear item-end (click)="managePlayers(soccerMatch.HomeTeam.TeamID)">Bewerken</button>
      </ion-item>
      <ion-item>
        <ion-label>Formatie</ion-label>
        <ion-select [(ngModel)]="lineups.HomeTeam.FormationID" (ionChange)="homeLineup = mapLineup(lineups.HomeTeam)">
          <ion-option [value]="formation.FormationID" *ngFor="let formation of formations">{{formation.Description}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-list *ngIf="lineups.HomeTeam.FormationID && homeTeamPlayers && homeTeamPlayers.length > 0">
        <ion-item-group>
          <ion-item-divider color="light">Basis</ion-item-divider>
          <ion-item *ngFor="let position of homeLineup">
            <ion-label>{{position.Name}}</ion-label>
            <ion-select [(ngModel)]="position.PlayerID" *ngIf="homeTeamPlayers.length > 0">
              <ion-option value=""></ion-option>
              <ion-option [value]="player.PlayerID" *ngFor="let player of homeTeamPlayers | usedPlayers:[getUsedPlayers(homeLineup)]:position.PlayerID | orderBy:['FirstName', 'Surname']">{{ player | playerFullName }}</ion-option>
            </ion-select>
            <ion-input *ngIf="this.homeTeamPlayers.length === 0" type="text" text-right disabled value="Onbekend"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="light">Wissels</ion-item-divider>
            <ion-item *ngIf="noSubs('H')">Geen wissels</ion-item>
            <ion-item *ngFor="let player of homeTeamPlayers | usedPlayers:[getUsedPlayers(homeLineup)]">
              <ion-label>{{player | playerFullName}}</ion-label>
            </ion-item>
          </ion-item-group>
      </ion-list>
      <div responsive>
        <button width-sm-100 width-md-100 width-lg-100 ion-button (click)="saveSoccerMatchLineup()">Opslaan</button>
      </div>
    </div>
  </div>
  <div *ngIf="soccerMatch !== null && homeAway == 'A'">
    <div>
      <ion-item>
        <span item-start>Selectie ({{lineups.AwayTeam.Players.length}})</span>
        <button ion-button clear item-end (click)="managePlayers(soccerMatch.AwayTeam.TeamID)">Bewerken</button>
      </ion-item>
      <ion-item>
        <ion-label>Formatie</ion-label>
        <ion-select [(ngModel)]="lineups.AwayTeam.FormationID" (ionChange)="awayLineup = mapLineup(lineups.AwayTeam)">
          <ion-option [value]="formation.FormationID" *ngFor="let formation of formations">{{formation.Description}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-list *ngIf="lineups.AwayTeam.FormationID && awayTeamPlayers && awayTeamPlayers.length > 0">
        <ion-item-group>
          <ion-item-divider color="light">Basis</ion-item-divider>
          <ion-item *ngFor="let position of awayLineup">
            <ion-label>{{position.Name}}</ion-label>
            <ion-select [(ngModel)]="position.PlayerID" *ngIf="awayTeamPlayers.length > 0">
              <ion-option value=""></ion-option>
              <ion-option [value]="player.PlayerID" *ngFor="let player of awayTeamPlayers | usedPlayers:[getUsedPlayers(awayLineup)]:position.PlayerID | orderBy:['FirstName', 'Surname']">{{ player | playerFullName }}</ion-option>
            </ion-select>
            <ion-input *ngIf="this.awayTeamPlayers.length === 0" type="text" text-right disabled value="Onbekend"></ion-input>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider color="light">Wissels</ion-item-divider>
            <ion-item *ngIf="noSubs('A')">Geen wissels</ion-item>
            <ion-item *ngFor="let player of awayTeamPlayers | usedPlayers:[getUsedPlayers(awayLineup)]">
              <ion-label>{{player | playerFullName}}</ion-label>
            </ion-item>
          </ion-item-group>
      </ion-list>
      <div responsive>
        <button width-sm-100 width-md-100 width-lg-100 ion-button (click)="saveSoccerMatchLineup()">Opslaan</button>
      </div>
    </div>
  </div>
</ion-content>