page-soccer-match-events-manager {
    .away-event {
        direction: rtl;
    }

    .match-event > div {
        display: flex;

        &.ref-event {
            margin: 0 0 2px;
            overflow: inherit;
            font-size: 1.4rem;
            line-height: normal;
            text-overflow: inherit;
            color: #666;
        }
    }

    .yellow {
        color: #e3e338;
    }

    .red {
        color: $negative-color;
    }

    .green {
        color: $positive-color;
    }
}
