<ion-header>

  <ion-navbar>
    <ion-title>Seizoensoverzicht</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshSeasonOverview($event)" pullMin="200" pullMax="pullMin + 60">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Verversen" refreshingSpinner="crescent" refreshingText="Bezig met verversen..."></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngIf="trainingOverview && trainingOverview.length === 0">
      <div>Er is (nog) geen seizoensoverzicht beschikbaar.</div>
    </ion-item>
    <ion-item *ngFor="let playerAttendence of trainingOverview | orderBy:'-AttendencePercentage'" (click)="loadPlayer($event, playerAttendence.Player)">
      <div>{{ playerAttendence.Player | playerFullName }}</div>
      <div class="attended-indicator" width-sm-20 width-md-20 width-lg-10 item-right style="text-align: right">
        <div [ngClass]="{ 'attended': playerAttendence.Training_x5 }"></div>
        <div [ngClass]="{ 'attended': playerAttendence.Training_x4 }"></div>
        <div [ngClass]="{ 'attended': playerAttendence.Training_x3 }"></div>
        <div [ngClass]="{ 'attended': playerAttendence.Training_x2 }"></div>
        <div [ngClass]="{ 'attended': playerAttendence.Training_x1 }"></div>
      </div>
      <div width-sm-15 width-md-15 width-lg-10 item-right style="text-align: right">
        <span>{{ playerAttendence.AttendencePercentage | number: '1.0-0' }} %</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>