<ion-content>
  <ion-refresher (ionRefresh)="refreshSeasonOverview($event)" pullMin="200" pullMax="pullMin + 60">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Verversen" refreshingSpinner="crescent" refreshingText="Bezig met verversen..."></ion-refresher-content>
  </ion-refresher>
  <p class="empty-text" *ngIf="trainingOverview && trainingOverview.length === 0">Er is (nog) geen seizoensoverzicht beschikbaar.</p>
  <ion-list>
    <ion-item *ngFor="let playerAttendence of trainingOverview | orderBy:'-AttendencePercentage'">
      <div>{{ playerAttendence.Player | playerFullName }}</div>
      <div class="attended-indicator" width-sm-20 width-md-20 width-lg-10 item-right style="text-align: right">
        <div *ngIf="playerAttendence.Training_x5 !== null" [ngClass]="{ 'attended': playerAttendence.Training_x5 }"></div>
        <div *ngIf="playerAttendence.Training_x4 !== null" [ngClass]="{ 'attended': playerAttendence.Training_x4 }"></div>
        <div *ngIf="playerAttendence.Training_x3 !== null" [ngClass]="{ 'attended': playerAttendence.Training_x3 }"></div>
        <div *ngIf="playerAttendence.Training_x2 !== null" [ngClass]="{ 'attended': playerAttendence.Training_x2 }"></div>
        <div *ngIf="playerAttendence.Training_x1 !== null" [ngClass]="{ 'attended': playerAttendence.Training_x1 }"></div>
      </div>
      <div width-sm-15 width-md-15 width-lg-10 item-right style="text-align: right">
        <span>{{ playerAttendence.AttendencePercentage | number: '1.0-0' }} %</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>