.attended-indicator div {
    display: inline-block;
    width: 10px;
    height: 5px;
    margin: 0px -1px;
    background-color: lightgray;

    &.attended {
        background-color: forestgreen;
    }
}