<ion-content>
  <ion-list>
    <ion-list-header style="padding-right: 8px">
      <span class="text-right" width-sm-10 width-md-5 width-lg-5 item-left>##</span>
      <span>Speler</span>
      <span class="text-center" width-sm-20 width-md-10 width-lg-10 item-right tooltip="# Doelpunten" positionV="bottom" duration="1500">
        <i class="ri-soccer_ball" alt></i>
      </span>
      <span class="text-center" width-sm-20 width-md-10 width-lg-10 item-right tooltip="# Assists" positionV="bottom" duration="1500">
        <i class="ri-soccer_shoe"></i>
      </span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right tooltip="# Gele kaarten" positionV="bottom" duration="1500">
        <i class="ri-card yellow"></i>
      </span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right tooltip="# Rode kaarten" positionV="bottom" duration="1500">
        <i class="ri-card red"></i>
      </span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right tooltip="# Basisplaatsen" positionV="bottom" duration="1500">
        <i class="ri-soccer_shirt"></i>
      </span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right tooltip="# Bankplaatsen" positionV="bottom" duration="1500">
        <i class="ri-armchair"></i>
      </span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right tooltip="# Speelminuten" positionV="bottom" duration="1500">
        <i class="ri-timer"></i>
      </span>
    </ion-list-header>

    <ion-item *ngFor="let cs of competitionStats | orderBy:['-(Appearances > 0)','-Goals','Penalties','-Assists', 'Minutes', 'Appearances', 'SurName']; let idx = index">
      <span class="text-right text-bold" width-sm-10 width-md-5 width-lg-5 item-left>{{ idx + 1 }}</span>
      <span>{{ cs.FullName }}</span>
      <span class="text-center" width-sm-20 width-md-10 width-lg-10 item-right>{{ cs.Goals }}
        <span style="position: absolute" *ngIf="cs.Penalties > 0">&nbsp;({{cs.Penalties}})</span>
      </span>
      <span class="text-center" width-sm-20 width-md-10 width-lg-10 item-right>{{ cs.Assists }}</span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right>{{cs.YellowCards}}</span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right>{{cs.RedCards}}</span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right>{{cs.Appearances}}</span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right>{{cs.MatchesOnBench}}</span>
      <span class="text-center" hide-sm width-md-10 width-lg-10 item-right>{{cs.Minutes}}</span>
    </ion-item>
  </ion-list>
</ion-content>