<ion-header>
  <ion-navbar>
    <ion-title>Trainingen</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshTrainings($event)" pullMin="200" pullMax="pullMin + 60">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Verversen" refreshingSpinner="crescent" refreshingText="Bezig met verversen..."></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="playerTrainings">
      <ion-item *ngIf="playerTrainings.length === 0">
        <div>Er zijn geen trainingen bij deze speler vastgelegd.</div>
      </ion-item>
      <button ion-item *ngFor="let pt of playerTrainings | orderBy:'-Training.TrainingDate'" (click)="loadTraining($event, pt.Training)">
        <span>{{ pt.Training.TrainingDate | date:'dd-MM-yyyy' }} &nbsp;</span>
        <ion-badge *ngIf="pt.Training.IsBonus">extra</ion-badge>
        <span *ngIf="pt.HasAttended" item-right><ion-icon name="checkmark" style="color: forestgreen"></ion-icon></span>
      </button>
    </ion-list>
</ion-content>