<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="!auth.isAuthenticated()">
      <button ion-button block color="primary" (click)="auth.login()" *ngIf="isApp">Log In</button>
    </div>
    <ion-list *ngIf="auth.isAuthenticated()">
      <ion-item>
        <h5 style="display: inline-block">{{ auth.user.name }}</h5>
        <button ion-button clear icon-only (click)="auth.logout()" item-end>
          <ion-icon name="exit"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list>
      <ng-template ngFor let-p [ngForOf]="menuItems | orderBy:['IsManager', 'Title']">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="auth.isAuthorized(p.Permissions)">
          <i [class]="p.Icon" style="font-size: 22px; margin-right: 10px; vertical-align: middle"></i>{{p.Title}}
        </button>
      </ng-template>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>