<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="!auth.isAuthenticated()">
      <button ion-button block color="primary" (click)="auth.login()" *ngIf="isApp">Log In</button>
      <button ion-button block color="secondary" (click)="auth.login()" *ngIf="!isApp">Log In</button>
    </div>
    <div *ngIf="auth.isAuthenticated()">
      <h2>{{ auth.user.name }}</h2>
    </div>
    <ion-list>
      <template ngFor let-p [ngForOf]="pages">
        <button menuClose ion-item (click)="openPage(p)" *ngIf="auth.isAuthorized(p.permissions)">
          {{p.title}}
        </button>
      </template>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>