<ion-header>
  <ion-toolbar>
      <ion-title>
          Wedstrijd aanmaken
      </ion-title>
      <ion-buttons start>
          <button ion-button (click)="dismiss()">
              <span ion-text color="primary" showWhen="ios">Cancel</span>
              <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item>
          <ion-label>Thuisteam</ion-label>
          <ion-select [(ngModel)]="homeTeamId">
              <ion-option [value]="team.TeamID" *ngFor="let team of teams | orderBy:'Name' | usedTeams:[usedTeams, awayTeamId]">{{team.Name}}</ion-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Uitteam</ion-label>
          <ion-select [(ngModel)]="awayTeamId">
              <ion-option [value]="team.TeamID" *ngFor="let team of teams | orderBy:'Name' | usedTeams:[usedTeams, homeTeamId]">{{team.Name}}</ion-option>
          </ion-select>
      </ion-item>
  </ion-list>
  <button ion-button full (click)="createSoccerMatch()">Aanmaken</button>
</ion-content>
