page-soccer-match-manager-tabs {
    .team-header {
        background: color($colors, primary, base);
        color: color($colors, light, base);
        flex: 1;
        padding: 20px 0;

        .team {
            text-align: center;
            
            > * {
                display: block;
            }
        }
    }

    super-tab  div.scroll-content > * {
        margin-bottom: 15%;
    }
}
